<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9li6nab6YNYk2uPvJX-vXMV2O2bzSlSE</string>
	<key>GCM_SENDER_ID</key>
	<string>205126384896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushnotification</string>
	<key>PROJECT_ID</key>
	<string>push-notification-8c37c</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notification-8c37c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205126384896:ios:c3ce26847c4fda9e88c7e5</string>
</dict>
</plist>